
.main{
    margin-top: 110px;
}
.main_banner_box {
    width: 100%;
    position: relative;
    padding-bottom: 130%;

}

.main_img > img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}


.banner_indi {
    display: flex;
    gap: 10px;

    position: absolute;
    bottom: 100px;
    
    left: 50%;
    transform: translateX(-50%);

    z-index: 99999;
}
.main_top { 
    margin-top: 40px;
}


.under_content,
.content {
    margin: 0 auto;
    overflow: hidden;
}

.mini_main  {
    padding: 40px 0;
    display: flex;
    gap: 20px;
}

.mini_img_box {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 13px;
    font-weight: 500;
}

.under_content > h1,
.main_top > h1 {
    margin: 0px auto 50px;
    color: #1a1a1a;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.choose_item {
    width: 100%;
    height: 60px;
    display: flex;
    gap: 20px;
    justify-content: center;
}


.item_type {
    color: #1a1a1a;
    font-size: 23px;

    cursor: pointer;
}


.main_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}
.mySwiper {
    width: 100%;
    height: 100%;

    overflow: visible;
}

.main_img_box {
    width: calc((100% - 20px) / 2);
    margin: 0 0px 30px;
    display: inline-block;
}

.img_box {
    position: relative;
}

.img_box > img {
    width: 100%;
    object-fit: fill;
}

.swiper-slide > img{
    width: 100%;
}


.main_line {
margin: 0 auto;
width: 0%;
height: 2px;
background-color: black;
position: relative;
top:-2px;
}

.top_rate {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    padding: 0;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    line-height: 54px;
    text-align: center;
    background-color: #e86434;
}

.main_txt_box {
    width: 100%;
    position: relative;

}


.item_msg {
    font-size: 16px;
    color: #1a1a1a;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 17px;
}

.main_color {
    display: flex;
    gap: 4px;
}


.color {
    width: 14px;
    height: 14px;
    margin-right: 3px;
    border: 1px solid #e6e5e5;
    box-sizing: border-box;
}
.pick_heart {
    position: absolute;
    right: 0;
    top: 0 ;
}

.price{
    font-size: 22px;
    color: #1a1a1a;
    font-weight: 500;
}

.main_reiew{
    margin-top: 10px;
    font-size: 14px;
    color: #9a9a9a;
}

.main_desc {
    width: 100%;
}


.main_desc > img {
    width: 100%;
}



.box0 > .color:nth-child(1) {
    background: #a8d2e8;
}
.box0 > .color:nth-child(2) {
    background: #003989;
}


.box1 > .color:nth-child(1) {
    background: white;
}
.box1 > .color:nth-child(2) {
    background: #747c05;
}
.box1 > .color:nth-child(3) {
    background: #fcdef4;
}
.box1 > .color:nth-child(4) {
    background: #dbd9d9;
}

.box1 > .color:nth-child(5) {
    background: #e36c9d;
}
.box1 > .color:nth-child(6) {
    background: #f7f8cf;
}
.box1 > .color:nth-child(7) {
    background: black;
}


.box2 > .color:nth-child(1) {
    background: white;
}
.box2 > .color:nth-child(2) {
    background: black;
}
.box2 > .color:nth-child(3) {
    background: #747c05;
}
.box2 > .color:nth-child(4) {
    background: #fcdef4;
}


.box3 > .color:nth-child(1) {
    background: #747c05;
}
.box3 > .color:nth-child(2) {
    background: black;
}
.box3 > .color:nth-child(3) {
    background: #fcdef4;
}
.box3 > .color:nth-child(4) {
    background: #a8d2e8;
}


.box4 > .color:nth-child(1) {
    background: #003989;
}


.box5 > .color:nth-child(1) {
    background: white;
}
.box5 > .color:nth-child(2) {
    background: black;
}
.box5 > .color:nth-child(3) {
    background: #747c05;
}
.box5 > .color:nth-child(4) {
    background: #fcdef4;
}
.box5 > .color:nth-child(3) {
    background: #a8d2e8;
}
.box5 > .color:nth-child(4) {
    background: #f7f8cf;
}


.box6 > .color:nth-child(3) {
    background: black;
}
.box6 > .color:nth-child(4) {
    background: #fcdef4;
}



.box7 > .color:nth-child(3) {
    background: #fcdef4;
}
.box7 > .color:nth-child(4) {
    background: #dbd9d9;
}
.box7 > .color:nth-child(3) {
    background: #a8d2e8;
}



