
.box0 .color:nth-child(1){
    background-color: #fcdef4;
}
    

.box0 .color:nth-child(2){
    background-color: #003989;
}
    



.box1 .color:nth-child(1){
    background-color: white ;
}
    

.box1 .color:nth-child(2){
    background-color:  #747c05;
}
    

.box1 .color:nth-child(3){
    background-color:  #fcdef4;
}
    

.box1 .color:nth-child(4){
    background-color: #a8d2e8;
}
    

.box1 .color:nth-child(5){
    background-color: #dbd9d9;
}
    

.box1 .color:nth-child(6){
    background-color: #e36c9d;
}
    

.box1 .color:nth-child(7){
    background-color: #f7f8cf;
}
    

.box1 .color:nth-child(8){
    background-color: black;
} 
    



.box2 .color:nth-child(1){
    background-color: #003989;
}
    

.box2 .color:nth-child(2){
    background-color: #e36c9d;
}
    

.box2 .color:nth-child(23){
    background-color: #dbd9d9;
}
    

.box2 .color:nth-child(4){
    background-color: #f7f8cf;
}
    



.box3 .color:nth-child(1){
    background-color: #747c05;
}
    

.box3 .color:nth-child(2){
    background-color: black;
}
    

.box3 .color:nth-child(3){
    background-color: #fcdef4;
}
    

.box3 .color:nth-child(4){
    background-color: #a8d2e8;
}
    



.box4 .color:nth-child(1){
    background-color: 003989;
}
    



.box5 .color:nth-child(1){
    background-color: #f7f8cf;
}
    

.box5 .color:nth-child(2){
    background-color: black;
}
    

.box5 .color:nth-child(1){
    background-color: #e36c9d;
}
    
 
.box5 .color:nth-child(2){
    background-color: #003989;
}
    

.box5 .color:nth-child(3){
    background-color: #a8d2e8;
}
    

.box5 .color:nth-child(4){
    background-color: #dbd9d9;
}
    
 


.box6 .color:nth-child(1){
    background-color: black;
}
    

.box6 .color:nth-child(2){
    background-color: #fcdef4;
}
    




.box7 .color:nth-child(1){
    background-color: #fcdef4;
}
    

.box7 .color:nth-child(2){
    background-color: #dbd9d9;
}
    
.box7 .color:nth-child(3){
    background-color: #a8d2e8;
}
    