.header {
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 9999999999;
    height: 60px;
    border-bottom: 0px solid rgb(218, 218, 218);
    background-color: white;
}
.under_header_box {
    width: 100%;
    color: white;
    font-weight: 900;
    position: fixed;
    bottom: 0px;
    display: flex;
    height: 60px;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}
.under_view {   
    display: flex;
    gap: 15px
}
.under_view  > img {
    width: 25px;
}
.scroll_msg_box {
    position: fixed;
    right: 10px;
    bottom: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main {
    max-width: 400px;
    width: 100%;
}

.content  {
    position: relative;
}
.content_img_box {
    width: 100%;
}
.content_img_box > img {
    width: 100%;
}

.big_img {
    display: none;
}

.content_right {
    width: 100%;
    box-sizing: border-box;
}

.item_title_txt {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item_title_txt > img {
    width: 21px;
    height: 23px;
}

.big_img > img {
    width: 100%;
}

.item_imf1 {
    width: 100%;
    border-top: 1px solid #909090;
    border-bottom: 1px solid#909090;

    display: flex;
    gap: 30px;
    align-items: center;

    margin-bottom: 10px;
}
.item_imf1 > span {
    font-size: 13px !important;
    color: #333 !important;
}
.item_title > h1 {
    font-size: 20px;
}
.item_imf1 > p {
    font-size: 13px;
    color: #000;
    padding: 18px 0;
    margin: 0;
}

.item_type {
    font-size: 14px;
}

.choose_color {
    padding: 10px 0;
    display: flex;
    gap: 10px;
}

.chs_color_box {
    display: inline-block;
    padding: 0 10px;
    border: 1px solid #909090;
}
.option {
    color: #909090;
    word-break: break-all;
    font-size: 13px;

}

.item_size_box {
    padding-top: 40px;
}

.choose_size {
    padding: 10px 0;
    display: flex;
    gap: 10px;
    text-align: center;
}
.item_size {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #000;
    opacity: 0.3;
    font-size: 14px;
}

.click_buy {
    width: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
.heart_pick {
    width: 60px;
    line-height: 65px;
    line-height: 60px;
    text-align: center;
    
    border: 1px solid #c9c9c9;
}

.box {
display: none;
}
.heart_pick {
    display: none;
}
.content_righ_box {
    padding: 0 10px;
}
.now_buy {
    width: 100%;
    height: 60px;
    line-height: 60px;
    border: 1px solid;
    text-align: center;
    background-color: black;
    color: white;
    font-weight: 900;
}
.prize_box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 40px;
        margin-top: 60px;

}

.prize_box > p{
    font-size: 15px;
    color: #1a1a1a;
    font-weight: 900;
    float: left;
}

.item_imf2_txt {
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-top: 1px solid #c9c9c9;
    font-size: 15px;
    color: #1a1a1a;
    position: relative;
    z-index: 2;
}

.item_imf2_txt:last-child {
    border-bottom: 1px solid #c9c9c9;
}



.content_under > h3 {
    
text-align: center;
}



.size_txt1_box {
    font-size: 12px;
    line-height: 20px;
    color: #222222;
    color: #666666;
    line-height: 24px;
}


.size_txt2_box {
    font-size: 12px;
    line-height: 20px;
    color: #222222;
    color: #666666;
    line-height: 24px;

}

.size_txt2 {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.size_txt2 > p {
    font-weight: 900;
    white-space: nowrap;
}
.size_txt2 > span {
    height: 26px;
}
.size_txt1_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 60px 0; 
}




.review { position: relative;}

.review_title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid;
    box-sizing: border-box;

}

.review_content {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
}

.star_box {
width: 30%;
display: flex;
flex-direction: column;
align-items: center;

}
.star {
    display: flex;
}
.star > img {
    width: 48px;
    height: 48px;
}
.star > span  { 
    font-size: 40px;
}
.star_box > p > span{ 
    font-weight: 700;
    margin: 0;
}

.good_point {
    width: 70%;
    height: 120px;
    padding: 20px 0;
    border-left:1px solid  #e8e8e8;
}

.good_point_box {
    display: flex;
    align-items: flex-end;
    margin-bottom: 6px;
    white-space: nowrap;
    padding-left: 20px;
    gap: 10px;
}

.good_point_box  > span{
    width: 100px;
    font-weight: bold;
    font-size: 13px;
    color: #14161a;
}

.line_bar {
    width: 550px;
    height: 14px;
    border-radius: 8px;
    background-color: #ebeff5;

    position: relative;
} 
   

.real_line {
    position: absolute;
    left: 0;
    top: 0;
    height: 14px;
    border-radius: 8px;
    background-color:black;

}


.line1{    width: 100%;}
.line2{    width: 30%;}
.line3{    width: 6%;}
.line4{    width: 0%;}
.line5{    width: 0%;}










.size_box {
    text-align: center;
    border: 1px solid rgb(216, 216, 216);
    padding: 5px 10px;
}



.size_img {
    width: 55%;
}
.size_img > img {
    width: 100%;
}
.review_txt_title {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid  #ebeff5;
    border-top: 1px solid  #ebeff5;
}

.real_review {
    width: 100%;
    padding-top: 80px;
}
.review_star_box {
    display: flex;
    align-items: center;
    gap: 10px;
}
.review_star_box > span{
    font-size: 14px;
    font-weight: 700;
}

.review_star {
    display: flex;
}

.review_star > img {
    width: 20px;
    height: 20px;
}

.reiew_txt {
    padding: 40px 0 40px;
    font-size: 12px;

    border-bottom: 1px solid #ebeff5;
}





.add_item_box {
    padding-top: 100px;
    width: 100%;
    position: relative;
    overflow: hidden;

}
.add_item_box > h3 {
    text-align: center;
}



.mySwiper {
    position: relative;
    }
    
    .swiper-wrapper{
    
    width: 100%;
    display: flex;
    }
    
    .swiper-slide {
        width: calc((100% - 20px) / 2);
        height: 100%;
        display: inline-block;
    }
    
    
    .swiper-slide > img{
      width: 100%;
    }
    


.add_img_box{
    display: block;
    position: absolute;
    width: calc((100% - 60px) / 4);
}

.img_box > img{
    width: 100%;
}



.main_txt_box {
    width: 100%;
    position: relative;

}


.item_msg {
    font-size: 16px;
    color: #1a1a1a;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 17px;
}

.color {
    width: 14px;
    height: 14px;
    margin-right: 3px;
    border: 1px solid #e6e5e5;
    box-sizing: border-box;
}
.pick_heart {
    position: absolute;
    right: 0;
    bottom: 81px;
}

.price{
    font-size: 22px;
    color: #1a1a1a;
    font-weight: 500;
}

.main_reiew{
    margin-top: 10px;
    font-size: 14px;
    color: #9a9a9a;
}

.main_desc {
    padding: 100px 0;
    width: 100%;
    display: flex;
}


.main_desc > img {
    width: 50%;
}


.main_color{
    display: flex;
    gap: 3px;
}

.selected_item {
    position: relative;
    display: flex;
    border: 1px solid #b6b6b6;
    gap: 10px;
    padding: 10px 7px;
    box-sizing: border-box;
    align-items: flex-start;
}
.si_1 {
    width: 50%;
}
.si_2 {
    width: 25%; 

    display: flex;
    align-items: center;
}
.si_2 input {
    width: 30px;
    height: 25px;
    box-sizing: border-box;

    border: 1px solid #d6d6d6;
    background: #fff;
}
.si_2 .txt_qty {
    border-right: none;
    border-left: none;
    color: #999999;
    text-align: right;
    outline: none;
}
.btn_remove_item {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 20px;
    margin-left: 5px;
    background: rgb(59, 59, 59);
    color: #fff;
}

.si_3 {
    width: 25%;
    text-align: right;
}